body {
    height: 100vh;
    background-color: rgb(63, 63, 63);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
}


div.main_window {
    width: 45%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 900px) {
    div.main_window {
        width: 100%;
        height: 100%;
    }
}

div.appwindow {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    padding: 0px;
}

div.title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: rgb(154, 154, 154);
    border-width: 1px;
    height: 4vw;
    background-color: rgb(15, 15, 15);
    padding: 0px;
    margin: 0px;
    color:rgb(255, 42, 184);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3vw;
    padding-top:0.3vw;
    padding-bottom:0.3vw;
}

@media only screen and (max-width: 900px) {
    div.title {
        font-size: 7vw;
        padding-top:0.3vw;
        padding-bottom:0.3vw;
        height: 10vw;
    }
}

div.letreco {
    border-style: solid;
    border-color: rgb(154, 154, 154);
    border-width: 1px;
    height: 90%;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
}

div.letter_tries {
    display: flex;
    flex-direction: column;
    padding-top: 2vw;
    padding-bottom: 2vw;
    gap: 1vw;
}

@media only screen and (max-width: 900px) {
    div.letter_tries {
        gap: 2vw;
    }
}

div.row_try {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}
@media only screen and (max-width: 900px) {
    div.row_try {
        gap: 1.5vw;
    }
}

.active_row {
    border-style: solid;
    border-color: rgb(84, 0, 0);
}

div.char {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 5%;
    border-width: 2px;
    border-color: rgba(186, 89, 255, 0.257);
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    color:rgb(255, 102, 229);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
@keyframes glow_lighten {
    from {
        border-color: rgb(6, 77, 0);
        color: rgb(6, 77, 0);
    }
    to {
        border-color:rgb(2, 255, 23);
        color: rgb(2, 255, 23);
    }
}

@keyframes glow_darken {
    from {
        border-color:rgb(2, 255, 23);
        color: rgb(2, 255, 23);
    }
    to {
        border-color: rgb(6, 77, 0);
        color: rgb(6, 77, 0);
    }
}


span.charspan {
    vertical-align: middle;
    align-items: center;
    text-align:center;
}

@media only screen and (max-width: 900px) {
    div.char {
        width: 14vw;
        height:14vw;
        font-size: 10vw;
    }
}


div.keywrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 0.6vw;
    padding-top:1.5vw;
}
@media only screen and (max-width: 900px) {
    div.keywrapper {
        gap: 4vw;
    }
}
div.submit_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 0.5vw;
}

@media only screen and (max-width: 900px) {
    div.submit_buttons {
        padding: 5vw;
    }
}

button.subbutton {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(119, 0, 130);
    width: 10vw;
    height: 2.5vw;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(56, 0, 61);
    color:rgb(255, 143, 251);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

@media only screen and (max-width: 900px) {
    button.subbutton {
        width: 30vw;
        height: 10vw;
        font-size: 5.5vw;
    }
}

button.subbutton:hover {
    background-color: crimson;
    cursor: pointer;
    color: white;
}

div.key_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5vw;
}

@media only screen and (max-width: 900px) {
    div.key_row {
        gap: 1vw;
    }
}

button.keybutton {
    border-style: solid;
    border-radius: 15%;
    border-width: 2px;
    border-color: rgb(255, 170, 0);
    width: 2.4vw;
    height: 2.2vw;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
}

@media only screen and (max-width: 900px) {
    button.keybutton {
        width: 8vw;
        height: 7.5vw;
        font-size: 5vw;
    }
}

button.keybutton:hover {
    background-color: rgb(200, 0, 143);
    color: white;
    cursor: pointer;
}